@using Oficina.WebPages;
@{
    var aplicacao = new VeiculoAplicacao();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veículos</title>
</head>
<body>
    <form action="/" method="post">
        <label>Marca</label>
        <select>
            <option value="value">Selecione</option>
            @foreach (var marca in aplicacao.Marcas)
            {
                <option value="@marca.ID">@marca.Nome</option>
            }
        </select>
    </form>
</body>
</html>
